.UNO {
	height: 33.5px;
	background-color: yellow;
	margin-bottom: -16px;
	
}
.DOS {
	height: 33px;
	background-color: red;
	margin-bottom: -16px;
	margin-top: -16px;
	
}
.TRES {
	height: 33.5px;
	background-color: yellow;
	margin-top: -16px;
	
}