div {
	border: 12px solid yellow;
	width: 120px;
	height: 100px;
}
p {
	font-size: 10px;
}
.arriba {
	text-align: center;
	padding: 2%;
}
.abajo {
	text-align: left;
	padding: 2%;
	margin: 50px auto 10px auto;
}